.sample{
  float:left;
  margin: 5px;
  height: 28px;
  width: 69px;
  text-align: center;  
  cursor: pointer;
  line-height: 28px;
  font-size: 14px;
  color: #FFF;
  border: 1px solid transparent;
}

.sample:hover{
    border-color: black;    
}
