.line{
    border-radius: 0.2em;
    border: 3px outset green;
    margin-bottom: 2px;
}

.label{
    float:left;
    border-right: 2px solid green;
    padding: 5px;
}

.workspace{
    height: 20px;
    padding: 5px;
}
.cell{
    float:left;
    width: 50px;
    height: 30px;
    border-right: 1px solid grey;
    margin-top:-5px;
}
