<div class="line clearfix">
    <div class="label">{{cmp.label}}</div>
    <div class="workspace" > 
        <div ng-repeat="cell in cmp.cells track by $index">
          <div class="cell" ng-dragover="cmp.allowDrop($event)" ng-drop="cmp.drop($event, $index)">
            <sample class="sample-in-track" 
                    ng-if="cell.sampleName.isNotEmpty" 
                    name="{{cell.sampleName}}" 
                    href="{{cell.href}}"
                    onItemDragged="cmp.onItemDragged($index)"></sample>
          </div>
           
        </div>
    </div>
</div>