.line{
    border-radius: 0.2em;
    border: 3px inset #000;
    margin-bottom: 2px;
    height: 30px;
}

.label{
    background: #000 url("images/carbon_bg.png") repeat-x;
    float:left;
    height: 27px;
    border-right: 2px solid #000;
    padding: 5px 0 0;
    width: 97px;
    text-align: center;
    color: #fff;
}

.workspace{
    height: 10px;
    padding: 5px 0;
}

.cell{

    float:left;
    width: 70px;
    height: 30px;
    border-right: 1px solid grey;
    margin-top:-5px;
}

.sample-in-track{
    float:left;
    margin-top:-5px!important;
    margin-left:-5px!important;
}