.line{
    border-radius: 0.2em;
    border: 3px inset #B9B91D;
    margin-bottom: 2px;
    height: 30px;
}

.label{
    float:left;
    height: 27px;
    border-right: 2px solid #B9B91D;
    padding: 5px 0 0;
    width: 97px;
    text-align: center;
    background-color: #58AF3C ;
}

.workspace{
    height: 10px;
    padding: 5px 0;
}

.cell{
    background-color: #D1CCCC;
    float:left;
    width: 70px;
    height: 30px;
    border-right: 1px solid grey;
    margin-top:-5px;
}

.sample-in-track{
    float:left;
    margin-top:-5px!important;
    margin-left:-5px!important;
}