.btn-share {
  display: inline-block;  
  border: none;
  background-color: transparent;
  background-image: url("images/sprite.png");
  background-repeat: no-repeat;
  background-size: 770% 100%;
  cursor: pointer;  
  
  width: 40px;
  height: 40px;
  
  color: #f5d049;
  font-size: 18px;
  margin-top: 5px;
  text-indent: initial;
  background-position-x: -200px;
}

.btn:focus {
  outline: none;
}