.sample{
  background-color: #CBA610;
  float:left;
  margin: 5px;
  height: 20px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.sample:hover{
    border: 1px dashed black;
}
