<!DOCTYPE html>

<html ng-app>
  <head>
    <title>Audio sampler using Dart</title>
    <link rel="stylesheet" href="audioSampler.css">
  </head>
 
  <body audioSampler class="audioSampler">   
    <p id="text">Select a sample:</p>
   
    <div class="samplesContainer">
      <div ng-repeat="sample in ctrl.samples">
        <sample name="{{sample.name}}" href="{{sample.href}}"></sample>
      </div>
    </div>
    
    <div class="progressCursor" ng-class="{'progress-cursor-in-progress': {{ctrl.playing}}}"></div>
     
    <br>
    <div ng-repeat="trackLine in ctrl.trackLines">
      <track number="{{$index + 1}}" cells="trackLine"></track>
    </div>
    
    <br>
    <button ng-click="ctrl.play()">Play me!</button>
    <button ng-click="ctrl.resetTrack()">Reset all</button>
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="audioSampler.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
