* {
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

HTML,
BODY {
  height: 100%; 
}

BODY {
  font-family: 'Share Tech', sans-serif;
  font-size: 16px;
  
}

.audioSampler{
  background:  #000 url("images/bg.jpg");
  height: 100%;
}

.samplesContainer{  
  background-color:rgba(255,255,255,0.9);
  min-height: 200px; 
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.progressCursor{
    border: 1px solid rgba(0, 0, 0, .5);
    height: 200px;
    width: 0px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5; 
    position:absolute;
    left: 97px;
}

.progress-cursor-playing{
  box-shadow: 0px 0px 12px 4px #fff;
}

@-webkit-keyframes rightThenLeft {
    100% {left: 1164px;}
}

.timer,
.volume-control,
.controls {
  float: left;  
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timer,
.volume-control {
  margin: 20px 0 0 0;
  width: 15%;  
}

.timer{ 
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  text-align: right;  
}

.controls {
  width: 70%;
  text-align: center;
}

.header,
.controls-area,
.footer {   
  overflow: hidden; 
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header,
.footer {
  height: 50px;
} 

.controls-area {
   padding: 10px 15px;  
   height: 80px; 
}

.navbar-brand {
  margin: 15px 0 0 0;
  float: left;
  font-weight: bold;
  font-size: 18px;
  color: #f5d049;
  text-decoration: none;
}

.social-group {
  float: right;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1170px;
}

.track-area,
.controls-area {
  background-color:rgba(255,255,255,0.7);
  margin-top: 20px;
}

.sound-banks {
  border-top: 1px solid #fff;
  height: 30px;
}

.btn-bank {
  background: #000 url("images/carbon_bg.png") repeat-x;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;
  width: 16.66%;
  text-align: center;  
  color: #FFF;  
  cursor: pointer;
  font-size: 16px;
  font-family: 'Share Tech', sans-serif;
}

.btn-bank:focus,
.btn-bank:hover {
  outline: 3px solid #f5d049;
}

.btn-bank:first-child {
  border-color: transparent;  
}

.footer,
.header {
  background: #000 url("images/carbon_bg.png") repeat-x;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;  
  bottom: 0;
}

.footer SPAN {
  color: #f5d049;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  display: inline-block;  
  border: none;
  background-color: transparent;
  background-image: url("images/sprite.png");
  background-repeat: no-repeat;
  background-position-y: 0;
  background-size: 770% 100%;
  text-indent: -1000px;
  cursor: pointer;  
}

.btn:focus {
  outline: none;
}

.back {
   background-position-x: -120px;
}

.pause {
  background-position-x: -100px;
}

.play {
  width: 60px;
  height: 60px;
}

.stop {
  background-position-x: -50px;
}

.forward {
  background-position-x: -160px;
}

.forward,
.back,
.help,
.reset,
.save {
  width: 40px;
  height: 40px;
}

.stop,
.pause {
  width: 50px;
  height: 50px;  
}

.top-controls {
  float: right;  
}

.help,
.reset,
.save {  
  color: #f5d049;
  font-size: 18px;
  margin-top: 5px;
  text-indent: initial;
  background-position-x: -200px;  
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}

.volume-control{
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
}

.volume-label{
    margin-left: 40px;
}

.samples-bank.ng-enter{
    transition: all 1s ease;
    opacity: 0;
}

.samples-bank.ng-enter.ng-enter-active{
    opacity: 1;
}

.samples-bank.ng-leave{
    transition: all 0s;
    opacity: 1;
}

.samples-bank.ng-leave.ng-leave-active{
    opacity: 0;
}
