<!DOCTYPE html>

<html ng-app>
  <head>
    <title>Audio sampler using Dart</title>

    <meta property="og:image" content="images/icon.gif">

    <link rel="icon" href="images/icon.gif" type="image/x-icon">
    <link rel="shortcut icon" href="images/icon.gif" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
   
    <!-- Latest compiled and minified CSS -->   
    
    <link rel="stylesheet" href="libs/introjs/introjs.min.css">
    <link rel="stylesheet" href="audioSampler.css">
  </head>
 
  <body audioSampler class="audioSampler" ng-cloak>
   
   <div class="header">
      <div class="container clearfix">       
        <a class="navbar-brand" href="#" data-step="1" data-intro="Hi, it is audio sampler written on Dart. Let's go thourh introduction demo!">Audio sampler Dart</a>              
        <div class="top-controls">
           <button class="btn save" ng-click="ctrl.save()">
            <i class="icon-save"></i>
          </button> 
          <button class="btn reset" ng-click="ctrl.resetTrack()">
            <i class="icon-undo"></i>
          </button>
                   
          <button class="btn help" onclick="javascript:introJs().start();">
            <i class="icon-question"></i>
          </button>
        </div>        
      </div>
    </div>
    
    <div class="container">      
      <div class="track-area">
        <div class="progressCursor" style="{{ctrl.cursorStyle}}" ng-class="{'progress-cursor-playing': ctrl.isPlaying}"></div>
        
        <div ng-click="ctrl.setStartPosition($event)">
          <div ng-repeat="trackLine in ctrl.trackLines">
            <track number="{{$index + 1}}" cells="trackLine"></track>
          </div>
        </div>      
      </div>
      
      <div class="controls-area">
        <div class="volume-control">
          <div class="volume-label">Volume</div>
          <input type="range" ng-change="ctrl.volumeLevelChanged($event)" ng-input="ctrl.volumeLevelChanged($event)" min="0" max="200">
          <output>{{ctrl.volumeLevel}}</output>
        </div>
        
        <div class="controls">
          <button class="btn back" ng-click="ctrl.stepBack()">Back</button>
          <button class="btn pause" ng-click="ctrl.pause()">Pause</button>
          <button class="btn play" ng-click="ctrl.play()" >Play</button>
          <button class="btn stop" ng-click="ctrl.stop()">Stop</button>
          <button class="btn forward" ng-click="ctrl.stepForward()">Forward</button>
        </div>
      
        <div class="timer">
          {{ctrl.time | timerFilter}}
        </div>        
        
      </div>
      
      <div class="sound-banks" data-step="2" data-intro="It is sound bank, where you can select samples for your track. Select tab by category" data-position='top'>
        <button class="btn-bank" 
                ng-repeat="bank in ctrl.bankCategories"
                ng-click="ctrl.currentBankCategory = bank">
                {{bank}}
        </button> 
      </div>
      
      <div class="samplesContainer clearfix">
        <div ng-repeat="sample in ctrl.samples | filter: ctrl.currentBankCategory" class="samples-bank">
          <sample name="{{sample.name}}" href="{{sample.href}}"></sample>
        </div>
      </div>
    </div>
    
    <div class="footer">
      <div class=container>
        <span>Ne4istb 2014</span>
        <div class="social-group">
            <share alt="Share on Google+" href="https://plus.google.com/share?url=SHARE_URL" icon="icon-google-plus"></share>
            <share alt="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=SHARE_URL" icon="icon-facebook"></share>
            <share alt="Share on Vkontakte" href="http://vk.com/share.php?url=SHARE_URL" icon="icon-vk"></share>
            <share alt="Share on Twitter" href="https://twitter.com/share?url=SHARE_URL" icon="icon-twitter"></share>
        </div>  
      </div>
    </div>
    
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="audioSampler.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
    <script src="libs/introjs/intro.min.js"></script>
  </body>
</html>
