<!DOCTYPE html>

<html ng-app>
  <head>
    <title>Audio sampler using Dart</title>    
    <link rel="stylesheet" href="audioSampler.css">
    <!-- Latest compiled and minified CSS -->   
    
    <link rel="stylesheet" href="libs/introjs/introjs.min.css">
  </head>
 
  <body audioSampler class="audioSampler">   
   
   <div class="header">
      <div class="container clearfix">       
        <a class="navbar-brand" href="#" data-step="1" data-intro="Hi, it is audio sampler written on Dart. Let's go thourh introduction demo!">Audio sampler Dart</a>              
        
        
      </div>
    </div>
    
    <div class="container">      
      <div class="track-area">
        <div class="progressCursor" style="{{ctrl.cursorStyle}}"></div>    
        
        <div ng-click="ctrl.setStartPosition($event)">
          <div ng-repeat="trackLine in ctrl.trackLines">
            <track number="{{$index + 1}}" cells="trackLine"></track>
          </div>
        </div>      
      </div>
      
      <div class="controls-area">
        <div class="volume-control">
          <input type="range" ng-change="ctrl.volumeLevelChanged($event)" min="0" max="200">
        </div>
      
        <div class="timer">
          {{ctrl.time | timerFilter}}
        </div>
        
        <div class="controls">
          <button ng-click="ctrl.play()" ng-if="!ctrl.playing">Play</button>
          <button ng-click="ctrl.pause()" ng-if="ctrl.playing">Pause</button>
          <button ng-click="ctrl.stop()">Stop</button>
          
          <button ng-click="ctrl.resetTrack()">Reset all</button>
          <button ng-click="ctrl.save()">Save</button>
          <button onclick="javascript:introJs().start();">Help</button>
        </div>
      </div>
      
      <div class="sound-banks" data-step="2" data-intro="It is sound bank, where you can select samples for your track. Select tab by category" data-position='top'>
        <button class="btn-bank" 
                ng-repeat="bank in ctrl.bankCategories"
                ng-click="ctrl.currentBankCategory = bank">
                {{bank}}
        </button> 
      </div>
      
      <div class="samplesContainer clearfix">
        <div ng-repeat="sample in ctrl.samples | filter: ctrl.currentBankCategory">
          <sample name="{{sample.name}}" href="{{sample.href}}"></sample>
        </div>
      </div>
    </div>
    
    <div class="footer">
      <div class=container>
        <span>&trade; Ne4istb 2014</span>
        <div class="social-group">
            <share alt="Share on Google+" href="https://plus.google.com/share?url=SHARE_URL" icon="https://www.gstatic.com/images/icons/gplus-32.png"></share>
            <share alt="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=SHARE_URL" icon="http://static.batu.me/assets/img/icons/facebook-32x32.png"></share>
            <share alt="Share on Vkontakte" href="http://vk.com/share.php?url=SHARE_URL" icon="http://vk.com/images/vk32.png"></share>
            <share alt="Share on Twitter" href="https://twitter.com/share?url=SHARE_URL" icon="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png"></share>
        </div>  
      </div>
    </div>
    
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="audioSampler.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
    <script src="libs/introjs/intro.min.js"></script>
  </body>
</html>
